<h1><%= form_title  %></h1>
<%= form_for @post do |f|  %>
  <%= f.text_field :title, placeholder: "Enter title of post"  %>
  <%= f.text_area :content, placeholder: "Enter content of post"  %>
  <%= f.submit "Publish post"  %>
<% end %>