<h1>Posts</h1>
<%= link_to "Create post", new_post_path %>
<table border="1px">
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
  </tr>
  <% @posts.each do |post| %>
  <tr>
    <td><%= link_to post.title, post  %></td>
    <td><%= post.content  %></td>
    <td><%= link_to "Edit post", edit_post_path(post)  %></td>
    <td><%= link_to "Delete post", post, method: :delete, data: {confirm: "Are you sure?"}  %></td>
  </tr>
  <% end %>
</table>